html{
    font-size: 62.5%;
}
body{
    background:rgb(255,255,255);
}    
a{
    text-decoration: none;
}
.img{
    background:transparent;
    width:1000px;
    margin:5rem auto;
}
.center{
    font-color:#aaa;
    font-size:2rem;
    margin-top:-5rem;
    text-align:center;
}
.footer{
    text-align:center;
    font-size:1rem;
}
